---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: oskoss/cowboy-pipelines
    tag: 0.1

params:
  GOVC_INSECURE:
  GOVC_CA_CERT:
  GOVC_URL:
  GOVC_USERNAME:
  GOVC_PASSWORD:
  GOVC_DATACENTER:
  GOVC_DATASTORE:
  GOVC_NETWORK:
  GOVC_RESOURCE_POOL:
  GOVC_HOST:
  OPSMAN_DOMAIN_OR_IP_ADDRESS:
  OPS_MGR_SSH_PWD:
  OM_NTP_SERVERS:
  OM_DNS_SERVERS:
  OM_GATEWAY:
  OM_NETMASK:
  OM_IP:
  OM_VM_NETWORK:
  OM_VM_NAME:
  OPSMAN_DISK_TYPE:
  OM_VM_POWER_STATE:
  OM_VM_FOLDER:

inputs:
  - name: pivotal-ops-manager
  - name: cowboy-pipelines

run:
  path: cowboy-pipelines/tasks/ops-man/import-pivotal-ops-manager/task.sh